<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/nav %>

  <div class="main">

    <div id="banner">
      <div class="wrap-center">
        <div class="banner-centered" id="banner-text">
          <h2>This is <strong>BEST WEBSITE</strong> there is</h2>
        </div>
      </div>
    </div>

    <script>
      $(document).scroll(function () {
        var scrollPos = $(this).scrollTop();
        $('#banner-text').css({
          'top': (scrollPos / 3) + 'px',
          'opacity': 1 - (scrollPos / 510)
        });
        $('#banner').css({
          'background-position': 'center ' + (-scrollPos / 2) + 'px'
        });
      });
    </script>

    <h1>Hi!</h1><br>
    <div style="margin: 10px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur egestas risus, in euismod velit pharetra
      vitae.
      Mauris vehicula leo eu mi placerat consequat. Maecenas tempus dapibus elementum. Sed id nunc id ligula accumsan
      dapibus. Etiam malesuada velit sed libero pharetra tempor. Nam mauris urna, volutpat non ultricies ac, fermentum
      non
      libero. Vestibulum mollis hendrerit felis in mattis. Praesent auctor iaculis justo, vel finibus turpis ultrices
      eu.
      Sed et hendrerit purus, nec condimentum mi. Vivamus feugiat dolor non dolor rutrum pellentesque. Morbi eget cursus
      massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque a euismod
      lacus. Aenean vel ornare nunc. Praesent a lobortis arcu. Ut quis ornare ipsum.<br /><br />

      In vitae tempor felis. Suspendisse risus urna, porttitor et ligula a, elementum scelerisque ipsum. Phasellus
      tristique, quam eget sodales fermentum, diam purus pharetra leo, id tincidunt lacus elit quis quam. Nulla quis
      nunc
      venenatis nisl fringilla maximus. Donec tristique volutpat sodales. Donec consequat libero ut augue congue, eu
      auctor
      dui sodales. Quisque ac elit eros. Fusce malesuada luctus sagittis. Etiam nec ultricies tortor, nec tempus
      sapien.<br /><br />

      Sed in faucibus dolor. Integer tincidunt consequat fermentum. Donec congue elementum fermentum. Suspendisse
      posuere
      nisl eu urna pretium interdum. Donec pulvinar, quam id congue euismod, nisl ipsum pharetra massa, quis fermentum
      magna
      nisl id purus. Nulla eu aliquet magna. Vestibulum venenatis nulla nec porttitor aliquam. Donec aliquam consequat
      quam
      eget pretium. Fusce eleifend neque sed eleifend facilisis. Fusce sed justo quam.<br /><br />

      Cras nec mi id magna vestibulum consectetur at nec ante. Morbi at sem ipsum. Nullam in augue sagittis, cursus elit
      et,
      facilisis lectus. Cras ullamcorper mauris vel justo pellentesque consectetur. Nulla sed maximus diam. Cras
      scelerisque, metus in euismod posuere, velit elit aliquam neque, id ultricies enim purus a ligula. Vivamus in
      vestibulum augue, quis dapibus leo. Vestibulum quam orci, lobortis in blandit sit amet, ornare a lorem. Mauris
      consequat volutpat sapien, id mollis enim. Donec diam nibh, lacinia ac tincidunt vitae, blandit nec neque.
      Curabitur
      dui elit, vehicula ut aliquet in, placerat non enim.<br /><br />

      Nulla gravida justo a egestas imperdiet. Suspendisse vulputate metus sed viverra ultrices. Nunc vitae felis
      egestas,
      elementum tellus eu, lobortis magna. Donec commodo molestie convallis. Nunc scelerisque maximus arcu, vitae
      commodo
      ipsum lobortis non. Nullam at dictum felis, in semper nibh. Pellentesque neque leo, malesuada vel ipsum eu,
      consectetur suscipit lacus. Nam et purus eu sem euismod sodales. Sed ut porta nunc. Praesent at venenatis nulla.
      Nulla
      et condimentum purus, id dignissim ex. Quisque accumsan libero ac pulvinar tincidunt. Aenean nec eros in elit
      volutpat
      maximus et sit amet nulla.
    </div>

  </div>

</body>

</html>