<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/nav %>

  <div class="main">

    <div id="banner">
      <div class="wrap-center">
        <div class="banner-centered" id="banner-text">
          <h2>This is <strong>BEST WEBSITE</strong> there is</h2>
        </div>
      </div>
    </div>

    <script>
      $(document).scroll(function () {
        var scrollPos = $(this).scrollTop();
        $('#banner-text').css({
          'top': (scrollPos / 3) + 'px',
          'opacity': 1 - (scrollPos / 510)
        });
        $('#banner').css({
          'background-position': 'center ' + (-scrollPos / 2) + 'px'
        });
      });
    </script>

    <h1>Hi!</h1>
    <form action="/login">
      <button type="submit">Sign In</button>
    </form>
    <form action="/register">

      <button type="submit">Sign Up</button>
    </form>
  </div>

</body>

</html>