<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/nav %>

    <div class="main">


        <h1>Hi <%= name %></h1>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>

</body>

</html>