<div class="navbar navbar-static-top">
    <a href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <div style="float: right;">
        <a href="/login">Sign In</a>
        <a href="/register">Sign Up</a>
    </div>
</div>