<div class="navbar navbar-static-top">
  <a href="/">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div style="float: right;">
    <a href="/logout">Log Out</a>
  </div>
</div>